# Node & package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/

# Env & local config
.env*
.DS_Store

# Logs & coverage
*.log
coverage/

